.menu {
  background: rgba(64, 198, 187, 0.9);
  padding: 5px 0;
  width: 100%;
  position: fixed;
  z-index: 11;
}

.nav {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
}

.menu-logo {
  flex: 1;
  margin-right: 10px;
}

.menu-nav a {
  text-decoration: none;
  color: #fff;
  font-size: 1.125em;
}

.menu-nav {
  display: flex;
  flex: 6;
  margin-left: 10px;
  align-self: center;
  justify-content: flex-end;
}

.menu-nav ul {
  list-style: none;
  display: flex;
}

.menu-nav ul li a {
  padding: 10px 30px 10px 0px;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .menu {
    margin: 0;
    padding: 0;
  }
  .nav {
    flex-direction: column;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  .menu-logo {
    margin: 0 40%;
  }
  .menu-logo img {
    width: 100%;
  }
  .menu-nav {
    width: 300px;
    margin: 0;
  }
  .menu-nav ul {
    flex: 1;
    flex-wrap: wrap;
  }
  .menu-nav ul li a {
    padding-right: 0px;
    margin-right: 5px;
  }
  .header-img {
    padding-top: 91.78px;
  }
}
