/* Geral */

.eqp-section {
  margin-top: 40px;
  margin-bottom: 40px;
}

.eqp-section h2 {
  color: #f0e68c;
}
.eqp-section a {
  display: block;
  width: 40px;
  height: 40px;
  color: #ffd700;
  text-decoration: none;
  background: #252525;
  border: 1px solid #fff;
  border-radius: 4px;
  padding-top: 7.5px;
  margin-left: auto;
  margin-right: 10px;
}

/* #ffd700  #708090 */

/* Intro Itens --------------------------------------------------------------------------------- */
/* Intro Itens --------------------------------------------------------------------------------- */

.intro-itens {
  display: flex;
  height: 50vh;
  padding-top: 70.14px;
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.intro-itens h1 {
  color: #f0e68c;
  font-size: 2.625rem;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 2;
}

.intro-itens::before {
  content: "";
  display: block;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 50%;
  background: url("../img/itens_capa.jpg") no-repeat center;
  background-size: cover;
  opacity: 0.6;
}

@media (max-width: 767px) {
  .intro-itens {
    height: 35vh;
  }

  .intro-itens h1 {
    font-size: 2rem;
  }
  .intro-itens::before {
    height: 35%;
  }
}

/* Titulo da página das armas */

.header-space {
  text-align: center;
  padding-top: 8%;
}

.weapon-tittle {
  display: flex;
  width: 80%;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 4px;
  background: #4f4f4f;
  justify-content: space-between;
  align-items: center;
}

.weapon-tittle h1 {
  color: #f0e68c;
  width: 80%;
  margin: 0 auto;
  padding: 5px 0;
}

.weapon-tittle nav {
  display: flex;
  margin: 0 10px;
}
.weapon-tittle nav p {
  margin-left: 15px;
  padding: 5px;
}
.weapon-tittle nav a {
  text-decoration: none;
  color: #f0e68c;
  margin-left: 15px;
  padding: 5px;
}

#arcos,
#catalisadores,
#espadas,
#espadao,
#lancas {
  scroll-margin-top: 70px;
}

@media (max-width: 767px) {
  .header-space {
    padding-top: 14%;
  }
  .weapon-tittle {
    width: 100%;
    margin: 0 auto 10px auto;
    border-radius: 4px;
    background: #4f4f4f;
    justify-content: space-between;
    align-items: center;
  }
}

/* definições das seções */
.weapon-attribute {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 10px;
  margin-bottom: 15px;
}

.weapon-attribute img {
  width: 80px;
  margin-right: 15px;
}

.weapon-attribute h3 {
  color: #f0e68c;
  width: 180px;
  margin-right: 15px;
  text-align: start;
}

.weapon-attribute p {
  margin-right: 10px;
}

.weapon-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 5px;
  vertical-align: middle;
}

.weapon-box .descricao {
  display: flex;
  width: 100%;
  justify-content: center;
}

.descricao {
  justify-content: center;
}

.weapon-attribute table {
  background: #708090;
  border-radius: 4px;
  width: 80%;
}

.weapon-attribute table th:nth-child(1) {
  width: 30%;
}
.weapon-attribute table th:nth-child(2) {
  width: 10%;
}
.weapon-attribute table th:nth-child(3) {
  width: 60%;
}

.weapon-attribute table td:nth-child(1) {
  width: 30%;
}
.weapon-attribute table td:nth-child(2) {
  width: 10%;
}
.weapon-attribute table td:nth-child(3) {
  width: 60%;
  text-align: justify;
  text-indent: 5%;
  padding-left: 10px;
}

.weapon-attribute th {
  color: #ffd700;
}
.weapon-attribute td {
  color: white;
}

.break {
  flex-basis: 100%;
  height: 0;
}

@media (max-width: 767px) {
  .weapon-attribute table {
    width: 100%;
  }
}

.js-accordion .descricao {
  display: none;
}

.js-accordion h3::before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #f0e68c;
}
.js-accordion h3.ativo::before {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f0e68c;
  border-top: none;
}

.js-accordion .descricao.ativo {
  display: flex;
  animation: slideDown 0.5s forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ----------------------------------ARTEFATOS----------------------------------------------- */
/* ----------------------------------ARTEFATOS----------------------------------------------- */
/* ----------------------------------ARTEFATOS----------------------------------------------- */

.artefacts-attribute {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 10px;
  margin-bottom: 15px;
}

.artefacts-attribute img {
  width: 80px;
  margin-right: 15px;
}

.artefacts-attribute h3 {
  color: #f0e68c;
  width: 160px;
  margin-right: 15px;
  text-align: center;
}

.artefacts-attribute p {
  margin-right: 10px;
}

.artefacts-attribute div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 5px;
}

.artefacts-attribute div:last-child {
  width: 100%;
  justify-content: center;
}

.artefacts-attribute table {
  background: #708090;
  border-radius: 4px;
  width: 80%;
}

.artefacts-attribute th {
  color: #ffd700;
  border-bottom: 1px solid #363636;
}

.artefacts-attribute td {
  color: #f0e68c;
}
.artefacts-attribute td:nth-child(1) {
  width: 150px;
}
.artefacts-attribute td:nth-child(2) {
  color: #fff;
  text-align: start;
}

@media (max-width: 767px) {
  .artefacts-attribute table {
    width: 100%;
  }
}
